body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    width: 90%;
    max-width: 1000px;
    height: 500px;
    padding: 20px;
    border: 2px solid #0099ff; /* Borde delgado color azul */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 119, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.logo-title {
    position: absolute; /* Cambiar a posicionamiento absoluto */
    top: 280px; /* Mover hacia arriba */
    display: flex;
    align-items: center;
}

.logo {
    width: 80px; /* Ajusta el tamaño según sea necesario */
    /*margin-right: 10px;*/ 
}

.title {
    font-size: 48px; /* Ajusta el tamaño según sea necesario */
    font-weight: bold;
    color: #000;
    margin: 0;
    display: flex;
    align-items: center;
}

.login-box {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

form button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

form button:hover {
    background-color: #0056b3;
}

.register-link {
    margin-top: 10px;
    text-align: center;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
